<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>

<body>
    <% books.forEach(book => {%>
    <div>
        <img src="<%= book.imageUrl%>" />
        <h3> <%= book.title %> </h3>
        <h4> <%= book.authors %> </h4>
        <p> <%= book.description %> </p>
    </div>
    <br>
    <% }) %>
</body>

</html>