/* @media all and (max-width: 768px){ */


body{
    background-color: #9b9b9b;
}


header nav{
    background-color: black;
    font-family: sans-serif;
    color: #c3c3c3;
    position: sticky;
    top: 0;
    font-size: 180%;
}

header div{
    transition: all 0.8s ease;
    display: none;
    justify-content: space-around;
    background-color: #000000c7;
}

.flex{
    display: flex;
}

#pageTitle{
    font-size: 85%;
    font-family: 'Anton', sans-serif;
}

span{
    margin-left: 1%;
    padding-top: 0.3%;
    background-color: whitesmoke;
    border-radius: 50% ;
    padding: 0 1%;
    text-align: center;
    color: gray;
}

nav{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 'logo hamMenu';
    align-items: center;
    justify-content: space-around;
    height: 7vh;
}

header a{
    display: flex;
    color: white;
    grid-area: hamMenu;
    justify-content: flex-end;
    text-decoration: none;
    padding-right: 5%;
    font-family: 'Anton', sans-serif;
}

header a:nth-child(1){
    display: grid;
    grid-area: logo;
    padding-left: 5%;
    justify-content:start ;
}

header #pageTitle{
    display: flex;
    background-color: #4a4a4a;
    color: white;
    align-items: center;
    justify-content: center;
    height: 5vh;
}

main div{
    width: 85%;
    padding: 5% 0;
    margin: 7% auto auto auto;
    background-color: #d8d8d8;
    height: 70vh;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;  
    align-items: space-around;  
    box-shadow: 0px 0px 22px darkslategray;
    margin-bottom: 10%;
}



div img {
    margin: auto auto;
    width: 40%;
    box-shadow: 0px 0px 22px darkslategray;
}


div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

div a button{
    transition: all 0.8s ease;
    border: none;
    width: 50%;
    height: 6vh;
    background-color: black;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 12px #414141;
    opacity: 0.8;
    font-weight: bold;
}

div a button:hover{
    transform: t;
    opacity: 1;
    margin-top: -3%;
    width: 55%;
    height: 6.5vh;
    cursor: pointer;
    box-shadow: 0px 0px 12px #2b1b1b;
}

footer{
    margin-top: 19%;
    background-color: black;
    position: fixed;
    bottom: 0;
    color: white;
    height: 5vh;
    width: 100%;
    font-size: 150%;
}

footer ul{
    display: flex;    
    justify-content: space-around;
    align-items: center;
    padding: 0 1%;
    height: 100%;
    }

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


body h1:nth-child(2){
    color: white;
    font-size: xx-large;
    margin: 5%;
}

.searchForm{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.searchForm input{
    display: inline-block;
}

.searchForm input[type=text]{
    width: 100%;
    height: 15vh;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.searchForm input[type=submit]{
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.searchForm label{
    background-color: #d8d8d8;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.searchForm label span{
    padding-left: 5%;
}

.searchForm label input{
    padding-left: 1%;
}

.updateForm{
    margin-bottom: 10%;
}
.updateForm input{
    display: block;
    /* margin-bottom: 10%; */
}

#updateButton{
    float: left;
}
#updateButton, #deleteButton{
    transition: all 0.8s ease;
    border: none;
    width: 40%;
    height: 4.5vh;
    background-color: black;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 12px #414141;
    opacity: 0.8;
    font-weight: bold;
}

#updateButton:hover, #deleteButton:hover{
    transform: t;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 0px 12px #2b1b1b;
}

#detailsForm{
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 5%;
}

#editForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}

#editForm{
    transition: all 0.8s ease;
    background-color: silver;
    box-shadow: 0px 0px 5px black;
}

#editForm legend{
    font-size: x-large;
    text-transform: uppercase;
    margin-bottom: 3%;
    font-weight: bold;
}

#editForm button{
    transition: all 0.8s ease;
    border: none;
    width: 40%;
    height: 4.5vh;
    background-color: black;
    color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 12px #414141;
    opacity: 0.8;
    font-weight: bold;
}

#editForm button:hover{
    transform: t;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0px 0px 12px #2b1b1b;
}


#editForm input[type=text], #editForm textarea{
    width: 85%;
    margin-bottom: 2%;
    border: none;
    border-radius: 5px;
    background-color: rgb(51, 49, 49);
    color: lightgray;
    box-shadow: 0px 0px 5px black;
    text-align: center;
}

#editForm input[type=text]{
    height: 3vh;
}
/* } */